<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Trabajo Practico</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo del sitio">
        </div>
        <div class="busqueda">
            <input type="text" placeholder="Buscar productos, marcas">
            <Button><i class="fas fa-search"></i></Button>
        </div>
        <div class="mensaje">
            
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
         </div>
    </header>
   
    <!-- SECCION PRINCIPAL -->

    <main>
        <section class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner del sitio">
        </section>
        <section class="visita">
            <article class="titulo">
                <h2>Basado en tu última visita</h2>
            </article>
            <article class="visita-producto">
                <div class="imagen-producto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="articulo cafetera">
                </div>
                <div class="descripcion-producto">
                    <h4>$6.770</h4>
                    <h5 class="descuento">40% OFF</h5>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="visita-producto">
                <div class="imagen-producto">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="articulo macbook">
                </div>
                <div class="descripcion-producto">
                    <h4>$230.000</h4>
                    <h5 class="descuento">20% OFF</h5>
                    <p class="descipciones">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="visita-producto">
                <div class="imagen-producto">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="articulo Samsung Galaxy">
                </div>
                <div class="descripcion-producto">
                    <h4>$70.500</h4>
                    <h5 class="descuento">10% OFF</h5>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="visita-producto">
                <div class="imagen-producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="articulo SmartTV">
                </div>
                <div class="descripcion-producto">
                    <h4>$23.200</h4>
                    <h5 class="descuento">5% OFF</h5>
                    <p class="descripciones">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <section class="ofertas">
            <article class="titulo">
                <h2>Sección de Ofertas</h2>
            </article>
            <article class="ofertas-producto">
                <div class="imagen-producto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="articulo cafetera">
                </div>
                <div class="descripcion-producto">
                    <h4>$6.770</h4>
                    <h5 class="descuento">40% OFF</h5>
                    <p class="descripciones">Cafetera Moulinex</p>
                </div>
            </article>
            <article class="visita-producto">
                <div class="imagen-producto">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="articulo macbook">
                </div>
                <div class="descripcion-producto">
                    <h4>$230.000</h4>
                    <h5 class="descuento">20% OFF</h5>
                    <p class="descripciones">MacBook Pro 2019</p>
                </div>
            </article>
            <article class="visita-producto">
                <div class="imagen-producto">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="articulo Samsung Galaxy">
                </div>
                <div class="descripcion-producto">
                    <h4>$70.500</h4>
                    <h5 class="descuento">10% OFF</h5>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div>
            </article>
            <article class="visita-producto">
                <div class="imagen-producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="articulo SmartTV">
                </div>
                <div class="descripcion-producto">
                    <h4>$23.200</h4>
                    <h5 class="descuento">5% OFF</h5>
                    <p class="descripciones">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>

<!-- SECCION DEL FOOTER -->

    <footer>
        <section class="secciones-footer">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
        </section>

        <section class="secciones-footer">
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde los $2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="secciones-footer">
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        </section>

        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>
</body>
</html>