/* Estableciendo variables con colores, como lo explico el profe Eric*/

:root{
    --amarillo:#EAC926;
    --azul:#03264C;
    --celeste:#1259c3;
    --gris-oscuro:#666;
    --gris-claro:#ebebeb;
    --verde:#39b54a;
    --negro:rgb(20, 20, 20);
}
/************************************************************************/

/* Haciendo un especio de reseteo, como lo explico Cristian con trucho mundo*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto',Arial, sans-serif;
}
a{
    text-decoration: none;
    color: var(--negro);
}
h2{
    font-size: 24px;
    color: var(--gris-oscuro);
}
img{
    width: 100%;
}
/********************** HEADER ********************/
header{
    background-color: var(--amarillo);
    width: 100%;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding-top: 35px;
    padding-bottom: 20px;
    margin: auto;
    justify-content: center;
}
.logo{
    width: 50%;
    
}
.logo img{
    width: 95%;
}
.busqueda{
    width: 50%;
    height: 45px;
    position: relative;

}
.busqueda input{
    width: 100%;
    height: inherit;
    border-radius: 6px;
    border: none;
    font-size: 1.5rem;
    padding-left: 10px;
}
.busqueda button {
    height: inherit;
    border: none;
    width: 40px;
    background-color: white;
    position: absolute;
    right: 0;
    border-radius: 6px;
}
.busqueda button i{
    color: var(--gris-oscuro);
    font-size: 1.5rem;
}
.mensaje{
    margin-top: 20px;
    text-align: center;
}
.menu{
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.burger-menu{
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.burger-menu i{
    background-color: var(--celeste);
    color: var(--gris-claro);
    padding: 10px;
    border-radius: 5px;
}
/****************** SECCIONES PRINCIPALES(MAIN)*********/
main{
    background-color: var(--gris-claro);
    width: 100%;
    padding-bottom: 20px;
}

.visita,
.ofertas{
    width: 90%;
    margin: auto;
}
.titulo{
    padding-top: 25px ;
    padding-bottom: 20px;
    text-align: center;
    
}
.visita-producto,
.ofertas-producto{
    background-color: white;
    margin-top: 10px;
    /***** position ****/
    position: relative;
}
.descripcion-producto{
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
}

.descripcion-producto span i{
    color: var(--verde);
    /* border:1px solid var(--verde);
    border-radius: 70%;
    padding: 5px 15px 15px 5px; */ 
    display:block;  
    font-size:16px;   
    padding:5px;   
    width:30px;    
    height:30px;   
    border:1px solid #39b54a;  
    background-color: #fff;    
    border-radius:50%;  
    position:absolute;   
    right:20px;    
    bottom: 76px;
}
.descripcion-precios{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.descripcion-precios h4{
    font-size: 18px;
    width: 30%;
}

.descripciones{
    display: none;
}
.descuento{
    width: 70%;
    color: var(--verde);
}
.descuento,.descripciones{
    font-size: 16px;
}
/******************* PIE DE PAGINA (FOOTER)***************/

footer{
    text-align: center;
    
}
footer p{
    font-size: 12px;
    color: var(--gris-oscuro);
}
.secciones-footer{
    margin:50px auto 0;
    width: 70%;
}
.secciones-footer i{
    font-size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;
}
/* .secciones-footer p {
    font-size: 12px;
    color: var(--gris-oscuro)
} */
.copyright{
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: left;

}
/* .copyright p{
    font-size: 12px;
    color: var(--gris-oscuro);
} */

@media (min-width:361px){

    /********HEADER*******/
    
    .burger-menu{
        display: block;
    }

    /******** MAIN********/
    
    .descripciones{
        display: block;
    }
    .visita-producto,
    .ofertas-producto{
        box-shadow: 0px 0px 10px rgb(100,100,100);
}

}
@media (min-width:769px){

    /****** HEADER*******/
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 90%;
        padding-top: 35px;
        padding-bottom: 20px;
        margin: auto;
        justify-content: space-between;
    }
    .logo,
    .mensaje{
        width: 36%;
    }
    .logo img{
        width: 100%;
    }
    .busqueda{
        width: 26%;
        height: 30px;
    }
    .busqueda input{
        font-size: 1rem;
        padding-left: 5px;
    }
    .busqueda button i{
        color: var(--gris-oscuro);
        font-size: 1rem;
    }
    .mensaje{
        margin-top: 0;
        text-align: center;
    }
    .mensaje p{
        font-size: .8rem;
    }
     
    .menu{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
    }
    .menu ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 35%;
        
    }
    .menu ul li{
        font-size: .8rem;
    }

    .burger-menu{
        display: none;
    }

    /********* MAIN ***********/
    .visita,
    .ofertas{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .titulo{
        width: 100%;
        text-align: left;
    }
    .visita-producto,
    .ofertas-producto{
        
        width: 48%;
    }

}

@media (min-width:1024px){
    /*********** MAIN *****************/
    .visita-producto,
    .ofertas-producto{
        
        width: 24%;
    }
    .descripcion-precios{
        justify-content: space-between;
    }
    .descuento{
        width: 35%;
    }

}