/* Estableciendo variables con colores, como lo explico el profe Eric*/

:root{
    --amarillo:#EAC926;
    --azul:#03264C;
    --celeste:#1259c3;
    --gris-oscuro:#666;
    --gris-claro:#ebebeb;
    --verde:#39b54a;
    --negro:rgb(20, 20, 20);
}
/************************************************************************/

/* Haciendo un especio de reseteo, como lo explico Cristian con trucho mundo*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto',Arial, sans-serif;
}
a{
    text-decoration: none;
    color: var(--negro);
}
h2{
    font-size: 24px;
    color: var(--gris-oscuro);
}
img{
    width: 100%;
}
/********************** HEADER ********************/
header{
    background-color: var(--amarillo);
    width: 100%;
}
.logo{
    width: 50%;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.busqueda{
    margin-left: 15px;
}
.mensaje{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.menu{
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}
.menu ul{
    margin-bottom: 20px;
}
.burger-menu{
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.burger-menu i{
    background-color: var(--celeste);
    color: var(--gris-claro);
    padding: 10px;
    border-radius: 5px;
}
/****************** SECCIONES PRINCIPALES(MAIN)*********/
main{
    background-color: var(--gris-claro);
    width: 100%;
    padding-bottom: 20px;
}
.visita article,
.ofertas article{
    width: 90%;
    margin: 10px auto;
}
.titulo{
    text-align: center;
    
}
.visita-producto,
.ofertas-producto{
    background-color: white;
}
.descripcion-producto{
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
}

.descripcion-producto span i{
    color: var(--verde);
    border:1px solid var(--verde);
    border-radius: 60%;
    padding: 9px;
    
}
.descripcion-producto h4{
    font-size: 18px;
}
.descripciones{
    display: none;
}
.descuento{
    color: var(--verde);
}
.descuento,.descripciones{
    font-size: 16px;
}
/******************* PIE DE PAGINA (FOOTER)***************/

footer{
    text-align: center;
    
}
footer p{
    font-size: 12px;
    color: var(--gris-oscuro);
}
.secciones-footer{
    margin:60px auto 0;
    width: 67%;
}
.secciones-footer i{
    font-size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;
}
/* .secciones-footer p {
    font-size: 12px;
    color: var(--gris-oscuro)
} */
.copyright{
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: left;

}
/* .copyright p{
    font-size: 12px;
    color: var(--gris-oscuro);
} */

@media (min-width:361px){

}
@media (min-width:769px){

}